body {
    background: none;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}




.header {
    background-image: url('https://lens.usercontent.google.com/banana?agsi=CmdnbG9iYWw6OjAwMDA1NWNmZWM3MDAyNmQ6MDAwMDAwZWI6MTo0ODAzYzhkYTk0MDk5ZTVkOjAwMDA1NWNmZWM3MDAyNmQ6MDAwMDAyOGI2NmIwMzM2ODowMDA2NTE5ZTQ5M2YzOGNmEAIYAQ==');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    background-color:transparent;
    padding: 0px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.header h1{
    font-family: serif;
    font-size: 3em;
    background: #4e7796;
    color: transparent;
    background-clip: text;
    padding: 2px;
    margin: 1px;

}

.header p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e7e3f3;
    font-weight: 500;
    padding: 1px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size:larger;

}

nav{
    font-family: sans-serif;
    font-weight:thick;
    background-color:transparent;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;


}

nav a{
    text-decoration: none;
    color: #ffff;
    margin: 0 80px;
    padding: 5px 10px;
    border-radius: 5px;

}

nav a:hover{
    background-color: #4e7796;
    color: #ffff;
    transition: background-color 0.3s ease;
}


