body {
    background: none;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}




.header {
    background-image: url('https://lens.usercontent.google.com/banana?agsi=CmdnbG9iYWw6OjAwMDA1NWNmZWM3MDAyNmQ6MDAwMDAwZWI6MTo0ODAzYzhkYTk0MDk5ZTVkOjAwMDA1NWNmZWM3MDAyNmQ6MDAwMDAyOGI2NmIwMzM2ODowMDA2NTE5ZTQ5M2YzOGNmEAIYAQ==');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    background-color:transparent;
    padding: 0px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.header h1{
    font-family: serif;
    font-size: 3em;
    background: #4e7796;
    color: transparent;
    background-clip: text;
    padding: 2px;
    margin: 1px;

}

.header p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e7e3f3;
    font-weight: 500;
    padding: 1px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size:larger;

}

nav{
    font-family: sans-serif;
    font-weight:thick;
    background-color:transparent;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;


}

nav a{
    text-decoration: none;
    color: #ffff;
    margin: 0 80px;
    padding: 5px 10px;
    border-radius: 5px;

}

nav a:hover{
    background-color: #4e7796;
    color: #ffff;
    transition: background-color 0.3s ease;
}


.hero h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #4e7796;
    margin-top: 50px;
}

.hero p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color:#000000;
}

.submission h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #4e7796;
    margin-top: 50px;
}

.userInfo h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #042239;
    margin-top: 30px;
    text-align: center;
}


.userInfo{
    background: rgba(43, 120, 235, 0.034); 
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px; 
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2); 
    padding: 30px; 
    max-width: 400px;
}

.userInfo label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #042239;
    display: block;
    margin-top: 20px;
}

.userInfo input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    outline-color: #042239;
    
}


.outfitInspo h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #042239;
    margin-top: 30px;
    text-align: center;
}

.outfifitInspo label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #042239;
    display: block;
    margin-top: 20px;

}

.outfitInspo input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    outline-color: #042239;
    
}

.outfitInspo{
    background: rgba(43, 120, 235, 0.034); 
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px; 
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2); 
    padding: 30px; 
    max-width: 550px;
}


.measurements h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #042239;
    margin-top: 30px;
}

.measurements{
    background: rgba(43, 120, 235, 0.034); 
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px; 
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2); 
    padding: 30px; 
    max-width: 400px;
}

.measurements label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #042239;
    display: block;
    margin-top: 20px;

}
.measurements input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    outline-color: #042239;
    
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: flex-start;  
    gap: 24px;                
    padding: 40px 20px;
    width: 100%;
    box-sizing: border-box;
}

.additional h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4e7796;
    margin-top: 30px;
    text-align: center;
}

textarea {
    display: block;         
    margin: 20px auto;       
    width: 100%;             
    max-width: 600px;       
    height: 120px;          
    resize: none;            
    box-sizing: border-box;  
    border-radius: 16px;
    padding: 15px;
    font-family: inherit;
    outline-color: #042239;
}



